APP_TITLE=Система бронирования мест в кафе
APP_DESCRIPTION=Сервис для бронирования мест в кафе

# Настройки подключения к БД
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_SERVER=server_address
POSTGRES_PORT=server_port
