# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
env/
venv/
ENV/
.venv/
.Python

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes
.github/

# Docker
Dockerfile
docker-compose*.yml
docker-compose*.yaml

# Logs
*.log

# Test and coverage
tests/
.coverage
htmlcov/
.tox/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
node_modules/


# Media and static (if generated)
media/
staticfiles/
static/

# Misc
*.env
.env.*
secrets/
.env-example
.env.sample
*.env.example

# ruff
ruff.toml
.ruff_cache/

.pre-commit-config.yaml


README*
