# APP
APP_TITLE=Система бронирования мест в кафе
APP_DESCRIPTION=Сервис для бронирования мест в кафе
LOG_LEVEL=INFO
CORS_ORIGINS=["http://localhost:3000"]

# Initial admin bootstrap
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_EMAIL=root@mail.com
INITIAL_ADMIN_PASSWORD=root1234

# JWT
# Use for generate secret: openssl rand -hex 32
SECRET_KEY=7dec7422f7f70ff2f1052ac23a9b172d8a93119d4a8d53085f319baef863e230
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=3600

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cafe
POSTGRES_HOST=db
POSTGRES_PORT=5432
